<section class="home_banner_area">
  <div class="container box_1620">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="section-title text-center">
            <h1>Get in Touch</h1>
            <p>Send me mail</p>
            <p class="text-success" *ngIf="successfullySendMail">
                Mail has been sent successfully
            </p>
          </div>
          <div class="row">
            <div class="col-lg-7">
              <div class="contact">
                <form (ngSubmit)="OnSubmit()" [formGroup]="contactForm" class="container">
                    <div class="row">
                      <div class="form-group col-md-6">
                        <input type="text" formControlName="name" class="form-control" placeholder="Name" required="required">
                        <span class="text-danger" *ngIf="name?.touched && name?.hasError('required')">The name is required!</span>
                      </div>
                      <div class="form-group col-md-6">
                        <input type="email" formControlName="to" class="form-control" placeholder="Email" required="required">
                        <span class="text-danger" *ngIf="to?.touched && to?.hasError('required')">The email is required!</span>
                        <span class="text-danger" *ngIf="to?.touched && to?.hasError('email')">Wrong email!</span>
                      </div>
                      <div class="form-group col-md-12">
                        <input type="text" formControlName="subject" class="form-control" placeholder="Subject" required="required">
                        <span class="text-danger" *ngIf="subject?.touched && subject?.hasError('required')">The subject is required!</span>
                      </div>
                      <div class="form-group col-md-12">
                        <textarea rows="6" formControlName="body" class="form-control" placeholder="Your Message" required="required"></textarea>
                        <span class="text-danger" *ngIf="body?.touched && body?.hasError('required')">The body is required!</span>
                      </div>
                      <div class="col-md-12 text-center">
                          <button type="submit" value="Send message" name="submit" id="submitButton" class="btn btn-contact-bg" title="Submit Your Message!">Send Message</button> <!--> [disabled]="contactForm.invalid"</-->
                      </div>
                    </div>
                  </form>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="single_address">
                <i class="fa fa-map-marker"></i>
                <h4>My Address</h4>
                <p>Sofia, Bulgaria</p>
              </div>
              <div class="single_address">
                <i class="fa fa-envelope"></i>
                <h4>Send your message</h4>
                <p>dim_kolev2002@abv.bg</p>
              </div>
              <div class="single_address">
                <i class="fa fa-phone"></i>
                <h4>Call me on</h4>
                <p>(+359) 879 370 998</p>
              </div>
              <div class="single_address">
                <i class="fa fa-clock-o"></i>
                <h4>Work Time</h4>
                <p>Mon - Fri: 08.00 - 20.00.</p>
              </div>
            </div>
          </div>
        </div><!--- END CONTAINER -->
      </div>
    </div>
</section>
