  <!--================Header Menu Area =================-->
<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container box_1620">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" routerLink=""><img src="../../assets/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto">
            <li class="nav-item active"><a class="nav-link" routerLink="">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="portfolio">Portfolio</a></li>

            <!--
            <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
                <ul class="dropdown-menu" style="width:250px;">
                    <li class="nav-item">
                        <a href="#" class="dropleft-header nav-link" data-toggle="dropleft" role="button" aria-haspopup="true" aria-expanded="false">Power Point</a>
                        <ul class="dropleft-menu" style="left:-249px;top:0px;">
                            <li class="nav-item"><a class="nav-link" href="project.html?project=Grandma's chets tales">Grandma's chets tales</a></li>
                            <li class="nav-item"><a class="nav-link" href="project.html?project=Math hunter for fifth class">Math hunter for fifth class</a></li>
                            <li class="nav-item"><a class="nav-link" href="project.html?project=Color figures">Color figures</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="dropleft-header nav-link" data-toggle="dropleft" role="button" aria-haspopup="true" aria-expanded="false">VB</a>
                        <ul class="dropleft-menu" style="left:-249px;top:40px;">
                            <li class="nav-item"><a class="nav-link" href="project.html?project=Learning activity">Learning activity</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="dropleft-header nav-link" data-toggle="dropleft" role="button" aria-haspopup="true" aria-expanded="false">PHP</a>
                        <ul class="dropleft-menu" style="left:-249px;top:80px;">
                            <li class="nav-item"><a class="nav-link" href="project.html?project=School coder">School coder</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="dropleft-header nav-link" data-toggle="dropleft" role="button" aria-haspopup="true" aria-expanded="false">ASP .Net Core</a>
                        <ul class="dropleft-menu" style="left: -249px; top: 120px;">
                            <li class="nav-item"><a class="nav-link" href="project.html?project=Algorithms">Algorithms</a></li>
                            <li class="nav-item"><a class="nav-link" href="project.html?project=Elibrary">Elibrary</a></li>
                            <li class="nav-item"><a class="nav-link" href="project.html?project=Vacation manager">Vacation manager</a></li>
                            <li class="nav-item"><a class="nav-link" href="project.html?project=Flight manager">Flight manager</a></li>
                            <li class="nav-item"><a class="nav-link" href="project.html?project=MusicHub">MusicHub</a></li>
                            <li class="nav-item"><a class="nav-link" href="project.html?project=MusicHub online shop">MusicHub online shop</a></li>
                            <li class="nav-item"><a class="nav-link" href="project.html?project=Rent a car">Rent a car</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="dropleft-header nav-link" data-toggle="dropleft" role="button" aria-haspopup="true" aria-expanded="false">Arduino</a>
                        <ul class="dropleft-menu" style="left: -249px; top: 160px;">
                            <li class="nav-item"><a class="nav-link" href="project.html?project=Dim security system">Dim security system</a></li>
                        </ul>
                    </li>
                </ul>
            </li>-->
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
          </ul>

        </div>
      </div>
    </nav>
  </div>
</header>
<!--================Header Menu Area =================-->
