<!--================Home Banner Area =================-->
<section class="home_banner_area">
  <div class="container box_1620">
    <div class="banner_inner d-flex align-items-center">
      <div class="banner_content">
        <div class="media row">
          <img src="../../assets/img/personal.jpg" class="col-md-7">
          <div class="col-md-5">
            <div class="personal_text">
              <h6>Hello Everybody, i am</h6>
              <h3>Dimitar Kolev</h3>
              <h4>Junior Asp .Net Core Developer</h4>
              <p>
                &emsp;My name is Dimitar Kolev Vasilev and I am born in 26/03/2002.
                Currently I am student in High School "Vasil Levski" - Smolyan and I am also studying
                <a href="https://it-kariera.mon.bg/e-learning/">"It carrier"</a> - natioanal program.<br>
                &emsp;My favourite programming language is C#, but I also like programming in JavaScript/TypeScript.<br>
                &emsp;I am sociable and reliable person.
                I like learning new things every day.
                I like helping others and share my knowledge with them about everything that interests me about technologies.
              </p>
              <ul class="list basic_info">
                <li><a href="#"><i class="lnr lnr-calendar-full"></i> 26st March, 2002</a></li>
                <li><a href="#"><i class="lnr lnr-phone-handset"></i> +359 879 370 998</a></li>
                <li><a href="#"><i class="lnr lnr-envelope"></i> dim_kolev2002@abv.bg</a></li>
                <li><a href="#"><i class="lnr lnr-home"></i>Smolian, Bulgaria</a></li>
              </ul>
              <app-social-media [type]="'main'"></app-social-media>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->
