<!--================Home Banner Area =================-->
<section class="home_banner_area">
  <div class="container box_1620">
    <div class="banner_inner d-flex align-items-center">
        <div class="media row">
          <!-- <app-image-slider [images]="images"></app-image-slider>-->

          <ngb-carousel *ngIf="images" class="col-md-7">
            <ng-template ngbSlide *ngFor="let image of images; index as i">
              <div class="picsum-img-wrapper">
                <img src="assets/img/{{image}}" alt="Random first slide" class="d-block w-100" height="750">
              </div>
              <div class="carousel-caption">
                <h3 class="test-dark"></h3>
                <p></p>
              </div>
            </ng-template>
          </ngb-carousel>
          <div class="col-md-5">
            <div class="personal_text">
              <h6>Hello Everybody, i am</h6>
              <h3>Dimitar Kolev</h3>
              <h4>Full stack developer with .NET C# and Angular</h4>
              <p>
                &emsp;My name is Dimitar Kolev and I am born in 26/03/2002.
                Currently I am a student in Sofia university.
                I finished my High School education at PPMG "Vasil Levski" - Smolyan.
                What is more, when I was at 10 class, I enterned  at
                <a href="https://it-kariera.mon.bg/e-learning/">"IT Carrier"</a> - natioanal program. I graduated with honors from this program<br>
                &emsp;My favourite programming language is C#, but I also like programming in JavaScript/TypeScript.<br>
                &emsp;I am sociable and reliable person.
                I like learning new things every day.
                I like helping others and share my knowledge with them about everything that interests me about technologies.
              </p>
              <ul class="list basic_info">
                <li><a href="#"><i class="lnr lnr-calendar-full"></i> 26st March, 2002</a></li>
                <li><a href="#"><i class="lnr lnr-phone-handset"></i> +359 879 370 998</a></li>
                <li><a href="#"><i class="lnr lnr-envelope"></i> dim_kolev2002@abv.bg</a></li>
                <li><a href="#"><i class="lnr lnr-home"></i>Smolian, Bulgaria</a></li>
              </ul>
              <app-social-media [type]="'main'"></app-social-media>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
