  <ul class="list">
  <li>
    <span></span>
    <div class="media">
      <div class="d-flex">
        <p>2013&emsp;</p>
      </div>
      <div class="media-body">
        <h4><a routerLink="/project" [queryParams]="{project:'grandmothersFairyTales'}" class="text-white">Grandmother fairy tales</a></h4>
        <p>Five animated power point presentations</p>
      </div>
    </div>
  </li>
  <li>
    <span></span>
    <div class="media">
      <div class="d-flex">
        <p>2013-2014</p>
      </div>
      <div class="media-body">
        <h4><a routerLink="/project" [queryParams]="{project:'colorFigures'}" class="text-white">Color figures</a>
        </h4>
        <p>Animated presentations with game</p>
      </div>
    </div>
  </li>
  <li>
    <span></span>
    <div class="media">
      <div class="d-flex">
        <p>2014-2015</p>
      </div>
      <div class="media-body">
        <h4>
          <a routerLink="/project" [queryParams]="{project:'mathHunterForFifthClass'}" class="text-white">Math hunter for fifth class</a>
        </h4>
        <p>Animated power point presentation with math calculator</p>
      </div>
    </div>
  </li>
  <!-- <li>
      <span></span>
      <div class="media">
        <div class="d-flex">
          <p>2015-2016</p>
        </div>
        <div class="media-body">
          <h4>Learning Activity</h4>
          <p>Windows form program</p>
        </div>
      </div>
    </li>
  <li>
    <span></span>
    <div class="media">
      <div class="d-flex">
        <p>2017-2018</p>
      </div>
      <div class="media-body">
        <h4>School Coder</h4>
        <p>PHP web site</p>
      </div>
    </div>
  </li>-->
  <li>
    <span></span>
    <div class="media">
      <div class="d-flex">
        <p>2019-2020</p>
      </div>
      <div class="media-body">
        <h4>
          <a routerLink="/project" [queryParams]="{project:'elibrary'}" class="text-white">ELibry</a>
        </h4>
        <p>ASP .Net Core &amp; C# web platform</p>
      </div>
    </div>
  </li>
  <li>
    <span></span>
    <div class="media">
      <div class="d-flex">
        <p>2020&emsp;</p>
      </div>
      <div class="media-body">
        <h4>
          <a routerLink="/project" [queryParams]="{project:'dimSecuritySystem'}" class="text-white">
            Dim Securety system
          </a>
        </h4>
        <p>Ardoino project</p>
      </div>
    </div>
  </li>
  <li>
    <span></span>
    <div class="media">
      <div class="d-flex">
        <p>2021</p>
      </div>
      <div class="media-body">
        <h4>
          <a routerLink="/project" [queryParams]="{project:'algorithms'}" class="text-white">
            Algorithms
          </a>
        </h4>
        <p>C# algorithms tasks</p>
      </div>
    </div>
  </li>
  <li>
    <span></span>
    <div class="media">
      <div class="d-flex">
        <p>2021</p>
      </div>
      <div class="media-body">
        <h4>
          <a routerLink="/project" [queryParams]="{project:'fligthManager'}" class="text-white">  Flight manager</a>
        </h4>
        <p>ASP .Net Core &amp; C# web platform</p>
      </div>
    </div>
  </li>
  <li>
    <span></span>
    <div class="media">
      <div class="d-flex">
        <p>2021</p>
      </div>
      <div class="media-body">
        <h4>
          <a routerLink="/project" [queryParams]="{project:'vacationManager'}" class="text-white">
            Vacation manager
          </a>
        </h4>
        <p>ASP .Net Core &amp; C# web platform</p>
      </div>
    </div>
  </li>
  <li>
    <span></span>
    <div class="media">
      <div class="d-flex">
        <p>2020-2021</p>
      </div>
      <div class="media-body">
        <h4>
          <a routerLink="/project" [queryParams]="{project:'musicHub'}" class="text-white">
            MusicHub
          </a>
        </h4>
        <p>ASP .Net Core &amp; C# web platform</p>
      </div>
    </div>
  </li>
  <li>
    <span></span>
    <div class="media">
      <div class="d-flex">
        <p>2021</p>
      </div>
      <div class="media-body">
        <h4>
          <a routerLink="/project" [queryParams]="{project:'musicHubShop'}" class="text-white">
            MusicHub Shop
          </a>
        </h4>
        <p>ASP .Net Core &amp; C# web platform</p>
      </div>
    </div>
  </li>
  <li>
    <span></span>
    <div class="media">
      <div class="d-flex">
        <p>2021</p>
      </div>
      <div class="media-body">
        <h4>
          <a routerLink="/project" [queryParams]="{project:'rentACar'}" class="text-white">
            Rent a car
          </a>
        </h4>
        <p>ASP .Net Core &amp; C# web platform</p>
      </div>
    </div>
  </li>
</ul>
