  <ul class="list">
  <li *ngFor="let experience of experiences">
    <span></span>
    <div class="media">
      <div class="d-flex">
        <p>{{experience.period}}</p>
      </div>
      <div class="media-body">
        <h4><a routerLink="/project" [queryParams]="{project:experience.projectPage}" class="text-white">{{experience.name}}</a></h4>
        <p>{{experience.description}}</p>
      </div>
    </div>
  </li>
  <!-- <li>
      <span></span>
      <div class="media">
        <div class="d-flex">
          <p>2015-2016</p>
        </div>
        <div class="media-body">
          <h4>Learning Activity</h4>
          <p>Windows form program</p>
        </div>
      </div>
    </li>
  <li>
    <span></span>
    <div class="media">
      <div class="d-flex">
        <p>2017-2018</p>
      </div>
      <div class="media-body">
        <h4>School Coder</h4>
        <p>PHP web site</p>
      </div>
    </div>
  </li>-->
</ul>
