<section class="home_banner_area">
  <div class="container box_1620">
    <div class="banner_inner d-flex align-items-center">
      <div class="banner_content">
        <ng-container [ngSwitch]="projectName">

          <app-gradma-chest-tales *ngSwitchCase="grandmothersFairyTales"></app-gradma-chest-tales>
          <app-color-figures *ngSwitchCase="colorFigures"></app-color-figures>
          <app-math-hunter-for-fifth-class *ngSwitchCase="mathHunterForFifthClass"></app-math-hunter-for-fifth-class>
          <app-e-library *ngSwitchCase="elibrary"></app-e-library>
          <app-fligth-manager *ngSwitchCase="fligthManager"></app-fligth-manager>
          <app-dim-security-system *ngSwitchCase="dimSecuritySystem"></app-dim-security-system>
          <app-algorithms *ngSwitchCase="algorithms"></app-algorithms>
          <app-vacation-manager *ngSwitchCase="vacationManager"></app-vacation-manager>
          <app-music-hub *ngSwitchCase="musicHub"></app-music-hub>
          <app-music-hub-shop *ngSwitchCase="musicHubShop"></app-music-hub-shop>
          <app-rent-acar *ngSwitchCase="rentACar"></app-rent-acar>
          <div *ngSwitchDefault="">
            NOT project
          </div>

        </ng-container>
        </div>
      </div>
    </div>
</section>
