<app-hello></app-hello>
<app-about-me></app-about-me>
<!--================My Tabs Area =================-->
<section class="mytabs_area p_120">
  <div class="container">
    <div class="tabs_inner">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Education</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <ul class="list">
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>2013&emsp;</p>
                </div>
                <div class="media-body">
                  <h4><a href="" class="text-white">Grandmother fairy tales</a></h4>
                  <p>Five animated power point presentations</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>2013-2014</p>
                </div>
                <div class="media-body">
                  <h4>Color figures</h4>
                  <p>Animated presentations with game</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>2014-2015</p>
                </div>
                <div class="media-body">
                  <h4>Math hunter for fifth class</h4>
                  <p>Animated power point presentation with math calculator</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>2015-2016</p>
                </div>
                <div class="media-body">
                  <h4>Learning Activity</h4>
                  <p>Windows form program</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>2017-2018</p>
                </div>
                <div class="media-body">
                  <h4>School Coder</h4>
                  <p>PHP web site</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>2019-2020</p>
                </div>
                <div class="media-body">
                  <h4>ELibry</h4>
                  <p>ASP .Net Core &amp; C# web platform</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>2020&emsp;</p>
                </div>
                <div class="media-body">
                  <h4>Dim Securety system</h4>
                  <p>Ardoino project</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>2021</p>
                </div>
                <div class="media-body">
                  <h4>Algorithms</h4>
                  <p>C# algorithms tasks</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>2021</p>
                </div>
                <div class="media-body">
                  <h4>
                    Flight manager
                  </h4>
                  <p>ASP .Net Core &amp; C# web platform</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>2021</p>
                </div>
                <div class="media-body">
                  <h4>
                    Vacation manager
                  </h4>
                  <p>ASP .Net Core &amp; C# web platform</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>2020-2021</p>
                </div>
                <div class="media-body">
                  <h4>
                    MusicHub
                  </h4>
                  <p>ASP .Net Core &amp; C# web platform</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>2021</p>
                </div>
                <div class="media-body">
                  <h4>
                    MusicHub Onlince Shop
                  </h4>
                  <p>ASP .Net Core &amp; C# web platform</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>2021</p>
                </div>
                <div class="media-body">
                  <h4>
                    Rent a car
                  </h4>
                  <p>ASP .Net Core &amp; C# web platform</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <ul class="list">
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>Oct 2011 to June 2012</p>
                </div>
                <div class="media-body">
                  <h4>Telerik Kids Academy</h4>
                  <p>Algorithms tasks with C++</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>Oct 2012 to June 2013</p>
                </div>
                <div class="media-body">
                  <h4>Telerik Kids Academy</h4>
                  <p>Algorithms tasks with C++</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>Aug to Sep 2016 </p>
                </div>
                <div class="media-body">
                  <h4>Cloud IT</h4>
                  <p>Minyu Balkanski</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>Sep 2016 to June 2021</p>
                </div>
                <div class="media-body">
                  <h4>High school “Vasil Levski” – Smolyan</h4>
                  <p>Speciality – Math, Informatics, English</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>Aug 2017 &emsp; &emsp;&ensp;</p>
                </div>
                <div class="media-body">
                  <h4>Robotics</h4>
                  <p>Minyu Balkanski</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>Oct 2018 to June 2021</p>
                </div>
                <div class="media-body">
                  <h4>National program Education for IТ Carrier </h4>
                  <p>C# Developer</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>Sep 2018 to present&emsp;</p>
                </div>
                <div class="media-body">
                  <h4>Software University</h4>
                  <p>C# Web Developer</p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>Sep 2020 to present&emsp;</p>
                </div>
                <div class="media-body">
                  <h4>Software University</h4>
                  <p>Digital marketing</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End My Tabs Area =================-->

<app-significant-items></app-significant-items>
<app-certificates></app-certificates>
